<!doctype html>
<html
  lang="fr"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{mail/layout :: emailLayout(${preheader}, ${appUrl}, ~{:: mailBody})}"
>
  <body>
    <th:block th:fragment="mailBody">
      <th:block
        th:replace="~{mail/fragments :: h1Title ('Réinitialisation du mot de passe')}"
      ></th:block>
      <th:block
        th:replace="~{mail/fragments :: para ('Nous avons reçu une demande de réinitialisation pour votre compte 360 PME Commerce.')}"
      ></th:block>
      <th:block
        th:replace="~{mail/fragments :: ctaButton (${resetLink}, 'Définir un nouveau mot de passe')}"
      ></th:block>
      <th:block
        th:replace="~{mail/fragments :: muted ('Lien valable 24 h. Si vous n’êtes pas à l’origine de cette demande, ignorez simplement cet email.')}"
      ></th:block>
      <th:block th:replace="~{mail/fragments :: signature}"></th:block>
    </th:block>
  </body>
</html>
